Файл.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Файл">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ИдОтпр">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ФИООтв">
                <xs:complexType>
                  <xs:attribute name="Фамилия" type="xs:string" use="required" />
                  <xs:attribute name="Имя" type="xs:string" use="required" />
                  <xs:attribute name="Отчество" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ДолжОтв" type="xs:string" use="required" />
            <xs:attribute name="Тлф" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Документ">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="СвЗастрахЛиц">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ФИОФЛ">
                      <xs:complexType>
                        <xs:attribute name="Фамилия" type="xs:string" use="required" />
                        <xs:attribute name="Имя" type="xs:string" use="required" />
                        <xs:attribute name="Отчество" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="УдЛичнФЛ">
                      <xs:complexType>
                        <xs:attribute name="КодВидДок" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="СерНомДок" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="СНИЛС" type="xs:string" use="required" />
                  <xs:attribute name="Гражд" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="ДатаРожд" type="xs:string" use="required" />
                  <xs:attribute name="Пол" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ИдДок" type="xs:string" use="required" />
            <xs:attribute name="ДатаДок" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ИдФайл" type="xs:string" use="required" />
      <xs:attribute name="ВерсФорм" type="xs:decimal" use="required" />
      <xs:attribute name="ТипИнф" type="xs:string" use="required" />
      <xs:attribute name="ВерсПрог" type="xs:string" use="required" />
      <xs:attribute name="КолДок" type="xs:unsignedInt" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>